<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>[[${list}]]</h4>
<hr/>
<h4 th:text="${list}"></h4>
<!--/*이거슨 주석이므로 찾지 못한다네*/-->
<hr>
<div th:with="num1 = ${10}, num2 = ${20}">
    <h4 th:text="${num1+num2}"></h4>
</div>
<hr>
<ul>
    <li th:each="str:${list}" th:text="${str}"></li>
</ul>

<!--/*혹은*/-->
<ul>
    <th:block th:each="str,status: ${list}">
        <li>[[${status.index}]] -- [[${str}]]</li>
    </th:block>
</ul>
<hr>
<ul>
    <li th:each="str,status: ${list}">
        <span th:if="${status.odd}"> ODD -- [[${str}]]</span>
        <span th:unless="${status.odd}"> EVEN -- [[${str}]]</span>
    </li>
</ul>
<hr>
<ul>
    <li th:each="str,status: ${list}">
        <span th:text="${status.odd} ?'ODD --- '+${str}"></span>
        <!--/*list에서 status로 each반복자를 통해 뽑아낸 collection의 데이터들이 만약 odd일경우 ODD --- 와 str을 뽑는다. 이항 처리*/-->
    </li>
</ul>

<hr>
<ul>
    <li th:each="str,status: ${list}">
        <span th:text="${status.odd} ?'ODD --- '+${str} : 'even --- '+${str}"></span>
        <!--/*삼항 처리*/-->
    </li>
</ul>
<hr>
<!--/*switch~case문 처리*/-->
<ul>
    <li th:each="str,status: ${list}">
        <th:block th:switch="${status.index % 3}">
            <span th:case="0">0</span>
            <span th:case="1">1</span>
            <span th:case="2">2</span>
        </th:block>
    </li>
</ul>
<hr>
<a th:href="@{/hello}">go to /hello</a>
<br>
<br>
<a th:href="@{/hello(name='AAA', age= 16)}">go to /hello with params</a>
</body>
</html>